<!DOCTYPE html>
<html>
<head>
  <title>RtnApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="banner" class="body">
	<h1>
	</h1>
	<nav>
		<ul>
		</ul>
	</nav>
</header>
<section id="content">
	<%= yield %>
</section>

</body>
</html>
