<script>
	$(document).ready(function(){
		$("#go").click(function(event){
			event.preventDefault();
			var sentence = $("#sentenceParse").val();
			var dict = $("#dictionary").val();
			var rtnm = $("#rtnspec").val();
			var dataObj = { "sentence": sentence, "dict": dict, "rtnm": rtnm };
			$.ajax({
				type: "POST",
				url: "<%= portal_execute_path %>",
				data: dataObj,
				success: function(newData){
					$("#results").text(newData);
				},
				error: function(a, b, c){
					alert("There was an error, check server log");
				}
			});
		});
	});
</script>
<%= link_to "Home", root_path %>
<table style="width: 100%">
	<tr>
		<th><h2>RTN</h2></th>
		<td><input type="button" id="go" value="Go!" /></td>
	</tr>
	<tr>
		<th>Sentence</th>
		<td><input style="width: 600px;" type="text" id="sentenceParse" value="fruit flies like trees" /></td>
	</tr>
	<tr>
		<th>Results</th>
		<td><textarea id="results" style="width: 600px; height: 400px;" readonly="readonly"></textarea></td>
	</tr>
	<tr>
		<th>Dictionary</th>
		<td>
			<textarea style="width: 600px; height: 200px;" id="dictionary">
fruit noun
flies noun
flies verb
like verb 
like prep
bananas noun
pears noun
smelly adj
john noun
walks verb
walks noun
dog noun
dog verb
in prep
the art
trees noun
		</textarea></td>
	</tr>
	<tr>
		<th>Rtn Spec</th>
		<td>
			<textarea style="width: 600px; height: 200px;" id="rtnspec">
MACHINE S
INIT S0
FINAL S2
BEGIN
S0 NP S1
S1 VP S2
END

MACHINE NP
INIT NP0
FINAL NP2 NP3
BEGIN
NP0 art NP1
NP0 adj NP1
NP1 noun NP2
NP2 noun NP2
NP0 noun NP2
NP2 PP NP3
END

MACHINE VP
INIT VP0
FINAL VP1 VP2 VP3 VP4
BEGIN
VP0 verb VP1
VP1 PP VP2
VP1 NP VP3
VP3 PP VP4
END

MACHINE PP
INIT PP0
FINAL PP2
BEGIN
PP0 prep PP1
PP1 NP PP2
END
</textarea></td>
	</tr>
</table>